<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884310416599-t8rnejerl7ks7j5mugib3feu15fq9a07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884310416599-t8rnejerl7ks7j5mugib3feu15fq9a07</string>
	<key>API_KEY</key>
	<string>AIzaSyDwDOAKVj1x21hTBJdfCYt62cpkTZAv-HE</string>
	<key>GCM_SENDER_ID</key>
	<string>884310416599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.YourShop</string>
	<key>PROJECT_ID</key>
	<string>yourshop-720bb</string>
	<key>STORAGE_BUCKET</key>
	<string>yourshop-720bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884310416599:ios:2eb587899ab67db9f0a492</string>
</dict>
</plist>